<div layout="column" ng-hide="$ctrl.isReportVisible">
    <top-navigation-bar></top-navigation-bar>
    <md-toolbar class="md-theme-light">
        <h4 class="md-toolbar-tools">Please Select Report Period</h4>
    </md-toolbar>
    <div layout="row" layout-fill>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Usage Start Date</label>
            <md-datepicker ng-model="$ctrl.usageStartDate" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Usage End Date</label>
            <md-datepicker ng-model="$ctrl.usageEndDate" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>

        <md-button ng-disabled="$ctrl.usageStartDate=='' || $ctrl.usageEndDate==''" class="md-raised md-primary" ng-click="$ctrl.getChamberUsageBetweenDates()"> List Chamber Usage </md-button>

    </div>
    <flash-message></flash-message>
</div>

<div layout="column" ng-show="$ctrl.isReportVisible">

    <div layout="row" layout-align="start start">
        <md-button class="md-primary md-fab" ng-click="$ctrl.returnToSelectReportUsageDates()" flex="5"> < </md-button>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Chamber Type:</label>
            <md-select ng-model="searchUsageChamberEntries.chamber_type" md-on-close="$ctrl.drawChamberUsageChart()">
                <md-option ng-value="chamberType._id" ng-repeat="chamberType in $ctrl.chamberTypeList">{{chamberType.chamber_type_name}}</md-option>
            </md-select>

        </md-input-container>
    </div>

    <md-table-pagination
            md-limit="$ctrl.tableQuery.limit"
            md-page="$ctrl.tableQuery.page"
            md-total="{{$ctrl.usageReport.length}}"
            md-boundary-links="true"
            md-page-select="true">
    </md-table-pagination>
    <md-table-container>
        <table md-table>
            <thead md-head md-order="$ctrl.tableQuery.order">
            <th md-column md-order-by="chamber_name">Chamber</th>
            <th md-column md-order-by="chamber_allocation_date">Start Date</th>
            <th md-column md-order-by="chamber_deallocation_date">End Date</th>
            <th md-column md-order-by="carts_allocated">Carts</th>
            <th md-column md-order-by="crop">Crop</th>
            <th md-column md-order-by="department">Department</th>
            <th md-column md-order-by="client_name">Client</th>
            <th md-column md-order-by="project_id">Project ID</th>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="usageEntry in $ctrl.usageReport |
                        filter: searchUsageChamberEntries |
                        orderBy: $ctrl.tableQuery.order |
                        limitTo: $ctrl.tableQuery.limit : ($ctrl.tableQuery.page -1)*$ctrl.tableQuery.limit">
                <td md-cell>{{usageEntry.chamber_name}}</td>
                <td md-cell>{{usageEntry.chamber_allocation_date}}</td>
                <td md-cell>{{usageEntry.chamber_deallocation_date}}</td>
                <td md-cell>{{usageEntry.carts_allocated}}</td>
                <td md-cell>{{usageEntry.crop}}</td>
                <td md-cell>{{usageEntry.department}}</td>
                <td md-cell>{{usageEntry.client_name}}</td>
                <td md-cell>{{usageEntry.project_id}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>

<!-- OLD PAGE LAYOUT

<div layout="column" ng-hide="$ctrl.isReportVisible">
    <top-navigation-bar></top-navigation-bar>
    <div layout="row" layout-fill>
        <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="16">
            <md-content>
                <md-toolbar class="md-theme-light">
                    <h4 class="md-toolbar-tools">Report Parameters</h4>
                </md-toolbar>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Usage Start Date</label>
                    <md-datepicker ng-model="$ctrl.usageStartDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Usage End Date</label>
                    <md-datepicker ng-model="$ctrl.usageEndDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
                <md-button ng-disabled="$ctrl.usageStartDate=='' || $ctrl.usageEndDate==''" class="md-raised md-primary" ng-click="$ctrl.getChamberUsageBetweenDates()"> List Chamber Usage </md-button>
            </md-content>
        </md-sidenav>
        <div layout="column" ng-hide="$ctrl.completeUsageReport.length==0" layout-fill>
            <div layout="row">
                <h4 class="md-toolbar-tools">View By Chamber:</h4>
                <md-select ng-model="$ctrl.selectedChamber" md-on-close="$ctrl.drawChamberUsageChart()">
                    <md-option ng-value="chamberName" ng-repeat="chamberName in $ctrl.chamberDropDownList">{{chamberName}}</md-option>
                </md-select>
            </div>
            <md-table-pagination
                    md-limit="$ctrl.tableQuery.limit"
                    md-page="$ctrl.tableQuery.page"
                    md-total="{{$ctrl.partialUsageReport.length}}"
                    md-boundary-links="true"
                    md-page-select="true">
            </md-table-pagination>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="$ctrl.tableQuery.order">
                    <th md-column md-order-by="project_id">Project Id</th>
                    <th md-column md-order-by="start_date">Start Date</th>
                    <th md-column md-order-by="end_date">End Date</th>
                    <th md-column md-order-by="carts">Carts Used</th>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="usageEntry in $ctrl.partialUsageReport |
                        orderBy: $ctrl.tableQuery.order |
                        limitTo: $ctrl.tableQuery.limit : ($ctrl.tableQuery.page -1)*$ctrl.tableQuery.limit">
                        <td md-cell>{{usageEntry.project_id}}</td>
                        <td md-cell>{{usageEntry.start_date}}</td>
                        <td md-cell>{{usageEntry.end_date}}</td>
                        <td md-cell>{{usageEntry.carts}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
    <flash-message></flash-message>
</div>
<div ng-show="$ctrl.isReportVisible">

</div>

-->