<div layout="column" ng-show="!$ctrl.isVisibleInvoiceDetails">
    <top-navigation-bar></top-navigation-bar>
    <div layout="column" layout-fill>
        <md-toolbar class="md-theme-light">
            <h4 class="md-toolbar-tools">Get Invoice History between:</h4>
        </md-toolbar>
        <div layout="row" flex>
            <div layout ="row" layout-align="start start">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>From Date</label>
                    <md-datepicker ng-model="$ctrl.invoiceHistoryStartDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>To Date</label>
                    <md-datepicker ng-model="$ctrl.invoiceHistoryEndDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
                <md-button ng-disabled="$ctrl.invoiceHistoryStartDate=='' || $ctrl.invoiceHistoryEndDate==''" class="md-raised md-primary" ng-click="$ctrl.getInvoiceList()"> Get History </md-button>
            </div>
            <div layout ="row" layout-align="end start" flex>
                <h5>For Selected Invoice(s)</h5>
                <md-button ng-disabled="$ctrl.selectedInvoices.length==0" class="md-raised md-primary" ng-click="$ctrl.generateInvoicePDFs()"> Generate PDFs </md-button>
                <md-button ng-disabled="$ctrl.selectedInvoices.length==0 || $ctrl.selectedInvoices.length>1" class="md-raised md-primary" ng-click="$ctrl.showInvoiceDetails()"> View Invoice </md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row">

        </div>
        <div layout="column" layout-fill>
            <div layout="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Search By Project ID:</label>
                    <input type="text" ng-model="searchAllInvoices.project_id"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Search by Project Title:</label>
                    <input type="text" ng-model="searchAllInvoices.project_title"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Search by Client Name:</label>
                    <input type="text" ng-model="searchAllInvoices.primary_client"/>
                </md-input-container>
            </div>
            <md-table-pagination
                    md-limit="$ctrl.tableQuery.limit"
                    md-page="$ctrl.tableQuery.page"
                    md-total="{{$ctrl.invoiceList.length}}"
                    md-boundary-links="true"
                    md-page-select="true">
            </md-table-pagination>
            <md-table-container>
                <table md-table
                       md-row-select="true"
                       multiple="true"
                       ng-model="$ctrl.selectedInvoices">
                    <thead md-head md-order="$ctrl.tableQuery.order">
                    <th md-column md-order-by="invoice_id">Invoice Id</th>
                    <th md-column md-order-by="project_id">Project Id</th>
                    <th md-column md-order-by="project_title">Project Title</th>
                    <th md-column md-order-by="primary_client">Client Name</th>
                    <th md-column md-order-by="generation_date">Generation Date</th>
                    <th md-column md-order-by="bill_start_date">Bill Start Date</th>
                    <th md-column md-order-by="bill_end_date">Bill End Date</th>
                    <th md-column md-order-by="total_amount">Total Amount</th>
                    <th md-column md-order-by="is_invoice_paid">Is Paid</th>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="invoice"
                        md-select-id="invoice_id"
                        ng-repeat="invoice in $ctrl.invoiceList |
                        filter: searchAllInvoices |
                        orderBy: $ctrl.tableQuery.order |
                        limitTo: $ctrl.tableQuery.limit : ($ctrl.tableQuery.page -1)*$ctrl.tableQuery.limit">
                        <td md-cell>{{invoice.invoice_id}}</td>
                        <td md-cell>{{invoice.project_id}}</td>
                        <td md-cell>{{invoice.project_title}}</td>
                        <td md-cell>{{invoice.primary_client}}</td>
                        <td md-cell>{{invoice.generation_date}}</td>
                        <td md-cell>{{invoice.bill_start_date}}</td>
                        <td md-cell>{{invoice.bill_end_date}}</td>
                        <td md-cell>{{invoice.total_amount}}</td>
                        <!--If condition on column based on payment status-->
                        <td md-cell ng-if="invoice.is_invoice_paid"><md-icon>done</md-icon> {{invoice.payment_date}}</td>
                        <td md-cell ng-if="!invoice.is_invoice_paid"><md-icon>error</md-icon></td>
                        <!---->

                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
    <flash-message></flash-message>
</div>
<div ng-show="$ctrl.isVisibleInvoiceDetails" layout="column">
    <div layout="row" layout-align="start start">
        <md-button class="md-primary md-fab" ng-click="$ctrl.hideInvoiceDetails()" flex="5"> < </md-button>
    </div>

    <!--Invoice Page START-->
    <div layout="column">
        <!--Header-->
        <md-grid-list md-cols="1" md-gutter="1em" md-row-height="10px">
            <md-grid-tile><h4>North Carolina State University</h4></md-grid-tile>
            <md-grid-tile><p>Southeastern Plant Environment Laboratories</p></md-grid-tile>
            <md-grid-tile><p>Invoice for Services Rendered</p></md-grid-tile>
        </md-grid-list>
        <br>
        <!--Invoice and Project Details-->
        <div layout="row" flex="100">
            <div layout-align="left center" flex="50">
                <md-list>
                    <md-list-item><b>Phytotron ID:</b> {{$ctrl.phytotronId}}</md-list-item>
                    <md-divider></md-divider>
                    <md-list-item><b>Preparation Date:</b> {{$ctrl.selectedInvoice.generation_date}}</md-list-item>
                    <md-list-item><b>Project ID:</b> {{$ctrl.selectedInvoice.project_id}}</md-list-item>

                </md-list>
            </div>
            <div layout-align="center center" flex="50">
                <md-list>
                    <md-list-item><b>Statement #:</b> {{$ctrl.selectedInvoice.invoice_id}}</md-list-item>
                    <md-divider></md-divider>
                    <md-list-item><b>Billing Interval:</b> {{$ctrl.selectedInvoice.bill_start_date}}    -    {{$ctrl.selectedInvoice.bill_end_date}}</md-list-item>
                    <md-list-item><b>Project Duration:</b> {{$ctrl.selectedInvoice.project_start_date}}    -    {{$ctrl.selectedInvoice.project_end_date}}</md-list-item>

                </md-list>
            </div>
        </div>
        <md-list>
            <md-list-item><b>Project Title:</b> {{$ctrl.selectedInvoice.project_title}}</md-list-item>
        </md-list>
        <br>

        <!-- Client Details-->
        <table md-table>
            <thead md-head>
            <th md-column >In Account With:</th>
            <th md-column >Department Name</th>
            <th md-column >Address</th>
            </thead>
            <tbody md-body>
            <tr ng-repeat="client in $ctrl.selectedInvoice.clients">
                <td md-cell>{{client.first_name}} {{client.last_name}}</td>
                <td md-cell>{{client.department}}</td>
                <td md-cell>{{client.address}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>

        <!-- Chamber Bill Cost Details -->
        <div ng-hide="$ctrl.selectedInvoice.chamber_usage_cost.length==0">
            <table md-table>
                <thead md-head>
                <th md-column >Chamber Name</th>
                <th md-column >Carts Used</th>
                <th md-column >Start Date</th>
                <th md-column >End Date</th>
                <th md-column >Usage Days</th>
                <th md-column >Chamber Rate</th>
                <th md-column >Chamber Cost</th>
                </thead>
                <tbody md-body>
                <tr ng-repeat="chamberUsageCost in $ctrl.selectedInvoice.chamber_usage_cost">
                    <td md-cell>{{chamberUsageCost.chamber_name}}</td>
                    <td md-cell>{{chamberUsageCost.carts_allocated}}</td>
                    <td md-cell>{{chamberUsageCost.start_date}}</td>
                    <td md-cell>{{chamberUsageCost.end_date}}</td>
                    <td md-cell>{{chamberUsageCost.usage_days}}</td>
                    <td md-cell>{{chamberUsageCost.chamber_rate}}</td>
                    <td md-cell>{{chamberUsageCost.chamber_cost}}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
        </div>


        <!--Additional Resource Cost Details -->
        <div ng-hide="$ctrl.selectedInvoice.additional_resource_cost.length==0">
            <table md-table>
                <thead md-head>
                <th md-column >Resource Name</th>
                <th md-column >Unit Rate</th>
                <th md-column >Units Consumed</th>
                <!--
                <th md-column >Start Date</th>
                <th md-column >End Date</th>
                <th md-column >Usage Days</th>
                -->
                <th md-column >Description</th>
                <th md-column >Comments</th>
                <th md-column >Resource Cost</th>
                </thead>
                <tbody md-body>
                <tr ng-repeat="additionalResource in $ctrl.selectedInvoice.additional_resource_cost">
                    <td md-cell>{{additionalResource.resource_name}}</td>
                    <td md-cell>{{additionalResource.unit_rate}}</td>
                    <td md-cell>{{additionalResource.units_consumed}}</td>
                    <!--
                    <td md-cell>{{additionalResource.start_date}}</td>
                    <td md-cell>{{additionalResource.end_date}}</td>
                    <td md-cell>{{additionalResource.usage_days}}</td>
                    -->
                    <td md-cell>{{additionalResource.description}}</td>
                    <td md-cell>{{additionalResource.comments}}</td>
                    <td md-cell>{{additionalResource.resource_cost}}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
        </div>

        <!--Invoice Amount Distribution-->
        <table md-table>
            <thead md-head>
            <th md-column >Client Name</th>
            <th md-column >Account #</th>
            <th md-column >Share Percent</th>
            <th md-column >Amount</th>
            </thead>
            <tbody md-body>
            <tr ng-repeat="accountEntry in $ctrl.selectedInvoice.invoice_amount_distribution">
                <td md-cell>{{accountEntry.client_first_name}} {{accountEntry.client_last_name}}</td>
                <td md-cell>{{accountEntry.account_number}}</td>
                <td md-cell>{{accountEntry.percent_share}}</td>
                <td md-cell>{{accountEntry.share_amount}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>

        <!--Cost Split -->
        <table md-table>
            <thead md-head>
            <th md-column >Bill Amount</th>
            <th md-column >Adjustments</th>
            <th md-column >Discounts</th>
            <th md-column >Total Amount</th>
            </thead>
            <tbody md-body>
            <tr>
                <td md-cell>{{$ctrl.selectedInvoice.bill_amount}}</td>
                <td md-cell>+ {{$ctrl.selectedInvoice.adjustments}}</td>
                <td md-cell>- {{$ctrl.selectedInvoice.discounts}}</td>
                <td md-cell>= {{$ctrl.selectedInvoice.total_amount}}</td>
            </tr>
            </tbody>
        </table>

        <!--Footer-->
        <!--
        <md-grid-list md-cols="2" md-gutter="1em" md-row-height="10px">
            <md-grid-tile>Please make check payable to: <b>North Carolina State University</b></md-grid-tile>
            <md-grid-tile></md-grid-tile>

            <md-grid-tile>Remit with one (1) copy of this invoice to:</md-grid-tile>
            <md-grid-tile></md-grid-tile>

            <md-grid-tile md-colspan="2">North Carolina State University</md-grid-tile>
            <md-grid-tile md-colspan="2">Office of Finance and Business, Box 7201</md-grid-tile>
            <md-grid-tile md-colspan="2">Raleigh, North Carolina 27695-7201</md-grid-tile>

            <md-grid-tile>Business Office</md-grid-tile>
            <md-grid-tile></md-grid-tile>

            <md-grid-tile md-colspan="2">Deposit Check to: North Carolina Agricultural Research Service</md-grid-tile>
            <md-grid-tile md-colspan="2">Misc. Rec. -- Phytotron Revenue Code No. 4-16952-0791</md-grid-tile>
        </md-grid-list>
        -->

    </div>
    <!--Invoice Page END-->
</div>