<div layout="column">
    <top-navigation-bar></top-navigation-bar>

    <md-tabs md-border-bottom md-center-tabs md-dynamic-height>
        <md-tab label="Client List" layout-fill>
            <div layout="row" layout-fill>
            <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="16">
                <md-content>
                    <md-toolbar class="md-theme-light">
                        <h4 class="md-toolbar-tools">Search By:</h4>
                    </md-toolbar>
                    <md-list flex >
                        <md-list-item class="md-list-item-inner" >
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Global Search:</label>
                                <input type="text" ng-model="searchAll.$"/>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item class="md-list-item-inner">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>First Name:</label>
                                <input type="text" ng-model="searchAll.first_name"/>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item class="md-list-item-inner">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Last Name:</label>
                                <input type="text" ng-model="searchAll.last_name"/>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item class="md-list-item-inner">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Email:</label>
                                <input type="text" ng-model="searchAll.email"/>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item class="md-list-item-inner">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Status:</label>
                                <input type="text" ng-model="searchAll.status"/>
                            </md-input-container>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <div layout="column" layout-fill>
                <md-table-pagination
                        md-limit="$ctrl.tableQuery.limit"
                        md-page="$ctrl.tableQuery.page"
                        md-total="{{$ctrl.clientList.length}}"
                        md-boundary-links="true"
                        md-page-select="true">
                </md-table-pagination>
                <md-table-container>
                    <table md-table>
                        <thead md-head md-order="$ctrl.tableQuery.order">
                        <th md-column md-order-by="first_name">First Name</th>
                        <th md-column md-order-by="last_name">Last Name</th>
                        <th md-column md-order-by="email">Email</th>
                        <th md-column md-order-by="department">Department/Company</th>
                        <th md-column md-order-by="status">Status</th>

                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="client in $ctrl.clientList |
                                    filter: searchAll |
                                    orderBy: $ctrl.tableQuery.order |
                                    limitTo: $ctrl.tableQuery.limit : ($ctrl.tableQuery.page -1)*$ctrl.tableQuery.limit">
                            <td md-cell><a ng-href="#/client-update/{{client._id}}">{{client.first_name}}</a></td>
                            <td md-cell><a ng-href="#/client-update/{{client._id}}">{{client.last_name}}</a></td>
                            <td md-cell><a ng-href="#/client-update/{{client._id}}">{{client.email}}</a></td>
                            <td md-cell><a ng-href="#/client-update/{{client._id}}">{{client.department}}</a></td>
                            <td md-cell><a ng-href="#/client-update/{{client._id}}">{{client.status}}</a></td>

                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </div>
        </md-tab>
        <md-tab label="Add new Client" layout-fill>
            <div layout="row" layout-fill>
                <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="16">
                    <md-content>
                        <md-toolbar class="md-theme-light">
                            <md-button class="md-raised" ng-click="$ctrl.addClient()"> Add Client </md-button>
                            <md-button class="md-raised" ng-click="$ctrl.initializeNewClient()"> Clear All Fields</md-button>
                        </md-toolbar>
                    </md-content>
                </md-sidenav>
                <div layout ="column" layout-fill>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>First Name*</label>
                            <input ng-model="$ctrl.newClient.first_name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Last Name</label>
                            <input ng-model="$ctrl.newClient.last_name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Email</label>
                            <input ng-model="$ctrl.newClient.email">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Contact Number</label>
                            <input ng-model="$ctrl.newClient.contact_number">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Department</label>
                            <md-select ng-model="$ctrl.newClient.department" >
                                <md-option ng-repeat="department in $ctrl.clientDepartmentList" value="{{department.department_name}}">
                                    {{department.department_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Status</label>
                            <md-select ng-model="$ctrl.newClient.status">
                                <md-option ng-repeat="status in $ctrl.clientStatusList" value="{{status}}">
                                    {{status}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label>Address</label>
                        <input ng-model="$ctrl.newClient.address">
                    </md-input-container>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <th md-column>
                                    <md-input-container class="md-block">
                                        <label>Account Number</label>
                                        <input ng-model="$ctrl.accountNumber">
                                    </md-input-container>
                                </th>
                                <th md-column><md-button class="md-raised" ng-disabled="!$ctrl.accountNumber" ng-click="$ctrl.addAccount()"> Add</md-button></th>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="accountNumber in $ctrl.newClient.account_numbers track by $index">
                                <td md-cell><p>{{accountNumber}}</p></td>
                                <td md-cell><md-button class="md-raised md-warn" ng-click="$ctrl.removeAccount($index)">X</md-button></td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>
            </div>
        </md-tab>
    </md-tabs>
    <flash-message></flash-message>
</div>