<div layout="column">
    <top-navigation-bar></top-navigation-bar>
    <h1>Phytotron Accounting System</h1>
    <!--<img ng-src="images/homePageMain.jpg" flex="100">-->
    <md-divider></md-divider>
    <h3>ADD USER NOTES:</h3>
    <div layout="row" layout-fill>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Note Content*</label>
            <input ng-model="$ctrl.note_content">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="ctrl.note_content == '' " ng-click="$ctrl.createNote()" flex="5"><md-icon>add</md-icon></md-button>
    </div>
    <md-table-pagination
            md-limit="$ctrl.tableQuery.limit"
            md-page="$ctrl.tableQuery.page"
            md-total="{{$ctrl.noteList.length}}"
            md-boundary-links="true"
            md-page-select="true">
    </md-table-pagination>
    <md-table-container>
        <table md-table md-order="$ctrl.tableQuery.order">
            <thead md-head>
            <th md-column md-order-by="content">Note Content</th>
            <th md-column  md-order-by="created_by">Created By</th>
            <th md-column  md-order-by="created_on">Created On</th>
            <th md-column>Remove</th>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="note in $ctrl.noteList track by $index">
                <td md-cell><p>{{note.content}}</p></td>
                <td md-cell><p>{{note.created_by}}</p></td>
                <td md-cell><p>{{note.created_on.format('L')}}</p></td>
                <td md-cell><md-button class="md-raised md-warn" ng-click="$ctrl.deleteNote(note)"><md-icon>remove</md-icon></md-button></td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>

<flash-message></flash-message>

