<div layout="column">
    <top-navigation-bar></top-navigation-bar>

    <md-tabs md-border-bottom md-center-tabs md-dynamic-height md-no-ink>

        <md-tab label="Project ID: {{$ctrl.project.project_id}}">
            <div layout ="column" layout-fill>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Project Title</label>
                        <input ng-model="$ctrl.project.project_title">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Project Start Date</label>
                        <md-datepicker ng-model="$ctrl.project.project_start_date" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Project End Date</label>
                        <md-datepicker ng-model="$ctrl.project.project_end_date" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Project Status</label>
                        <md-select ng-model="$ctrl.project.project_status">
                            <md-option ng-repeat="status in $ctrl.projectStatusList" value="{{status}}">
                                {{status}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Chamber Rate</label>
                        <md-select ng-model="$ctrl.project.chamber_rate" >
                            <md-option ng-repeat="rate in $ctrl.availableChamberRates" value="{{rate._id}}">
                                {{rate.rate_type}} / / {{rate.rate_value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" md-whiteframe="4">
                    <!--
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Chamber</label>
                        <md-select ng-model="$ctrl.selectedChamber" ng-model-options="{trackBy: '$value._id'}">
                            <md-option ng-repeat="chamber in $ctrl.availableChambers" ng-value="{{chamber}}">
                                {{chamber.chamber_name}} / / {{chamber.carts_count}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    -->
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Chamber</label>
                        <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="$ctrl.selectedChamber"
                                md-search-text="$ctrl.searchChamber"
                                md-items="chamber in $ctrl.availableChambers | filter: $ctrl.searchChamber"
                                md-item-text="chamber.chamber_name"
                                md-min-length="0">
                            <md-item-template>
                                <span md-highlight-text="$ctrl.searchChamber" md-highlight-flags="^i">{{chamber.chamber_name}}    ||    {{chamber.carts_count}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-input-container>

                    <md-input-container>
                        <label>Carts Allocated</label>
                        <input type="number" ng-model="$ctrl.carts_allocated">
                    </md-input-container>

                    <!--
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Crop</label>
                        <md-select ng-model="$ctrl.crop" ng-model-options="{trackBy: '$value._id'}">
                            <md-option ng-repeat="crop in $ctrl.availableCrops" ng-value="{{crop}}">
                                {{crop.scientific_name}} / / {{crop.common_name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    -->
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Crop</label>
                        <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="$ctrl.crop"
                                md-search-text="$ctrl.searchCrop"
                                md-items="crop in $ctrl.availableCrops | filter: $ctrl.searchCrop"
                                md-item-text="crop.scientific_name+' '+crop.common_name"
                                md-min-length="0">
                            <md-item-template>
                                <span md-highlight-text="$ctrl.searchCrop" md-highlight-flags="^i">{{crop.scientific_name}}    ||    {{crop.common_name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Chamber Allocation Date</label>
                        <md-datepicker ng-model="$ctrl.chamber_allocation_date" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Chamber Deallocation Date</label>
                        <md-datepicker ng-model="$ctrl.chamber_deallocation_date" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-disabled="!$ctrl.selectedChamber || $ctrl.carts_allocated=='' || ($ctrl.chamber_allocation_date == '') || ($ctrl.chamber_deallocation_date == '') || ($ctrl.crop == '')" ng-click="$ctrl.addChamberToProject()" flex="5"><md-icon>add</md-icon></md-button>
                </div>

                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <th md-column>Chamber</th>
                        <th md-column>Carts Allocated</th>
                        <th md-column>Crop</th>
                        <th md-column>Chamber Allocation Date</th>
                        <th md-column>Chamber Deallocation Date</th>
                        <th md-column>Action</th>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="addedChamber in $ctrl.project.chambers track by $index">
                            <td md-cell><p>{{addedChamber.chamber.chamber_name}}</p></td>
                            <td md-cell><p>{{addedChamber.carts_allocated}}</p></td>
                            <td md-cell><p>{{addedChamber.crop.scientific_name}}</p></td>
                            <td md-cell><p>{{addedChamber.chamber_allocation_date.format('L')}}</p></td>
                            <td md-cell><p>{{addedChamber.chamber_deallocation_date.format('L')}}</p></td>
                            <td md-cell><md-button class="md-raised md-warn" ng-click="$ctrl.removeChamberFromProject($index)"><md-icon>remove</md-icon></md-button></td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </md-tab>
        <md-tab label="Update Client Details" md-on-select="$ctrl.updateAvailableClients()">
            <div layout="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Global Search:</label>
                    <input type="text" ng-model="searchAllClients.$"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>First Name:</label>
                    <input type="text" ng-model="searchAllClients.first_name"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Last Name:</label>
                    <input type="text" ng-model="searchAllClients.last_name"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Email:</label>
                    <input type="text" ng-model="searchAllClients.email"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Status:</label>
                    <input type="text" ng-model="searchAllClients.status"/>
                </md-input-container>
            </div>
            <div layout="row" layout-fill>
                <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="16" flex="33">
                    <md-content>
                        <md-toolbar class="md-theme-light">
                            <h4 class="md-toolbar-tools">Added Clients:</h4>
                        </md-toolbar>
                        <md-list flex >
                            <md-list-item class="md-list-item-inner" ng-repeat="client in $ctrl.project.clients track by $index">
                                <div layout="row">
                                    <md-button class="md-raised md-warn" ng-click="$ctrl.removeClientsFromProject(client)"><md-icon>remove</md-icon></md-button>
                                    <p>{{client.first_name}} {{client.last_name}} {{client.email}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-sidenav>
                <div layout="column" layout-fill>
                    <md-table-pagination
                            md-limit="$ctrl.clientTableQuery.limit"
                            md-page="$ctrl.clientTableQuery.page"
                            md-total="{{$ctrl.availableClients.length}}"
                            md-boundary-links="true"
                            md-page-select="true">
                    </md-table-pagination>
                    <md-table-container>
                        <table md-table>
                            <thead md-head md-order="$ctrl.clientTableQuery.order">
                            <th md-column md-order-by="first_name">First Name</th>
                            <th md-column md-order-by="last_name">Last Name</th>
                            <th md-column md-order-by="email">Email</th>
                            <th md-column md-order-by="department">Department/Company</th>
                            <th md-column md-order-by="status">Status</th>
                            <th md-column>Add to Project</th>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="client in $ctrl.availableClients |
                            filter: searchAllClients |
                            orderBy: $ctrl.clientTableQuery.order |
                            limitTo: $ctrl.clientTableQuery.limit : ($ctrl.clientTableQuery.page -1)*$ctrl.clientTableQuery.limit">
                                <td md-cell>{{client.first_name}}</td>
                                <td md-cell>{{client.last_name}}</td>
                                <td md-cell>{{client.email}}</td>
                                <td md-cell>{{client.department}}</td>
                                <td md-cell>{{client.status}}</td>
                                <td md-cell><md-button class="md-raised md-primary" ng-click="$ctrl.addClientsToProject(client)"><md-icon>add</md-icon></md-button></td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>
            </div>
        </md-tab>
        <md-tab label="Update Resource Details">
            <md-switch md- invert
                       ng-model="$ctrl.project.requires_additional_resources"
                       aria-label="Requires Additional Resources"
                       ng-disabled="!($ctrl.project.additional_resources.length==0)">
                This Project Requires Additional Resources: {{$ctrl.project.requires_additional_resources}}
            </md-switch>
            <div ng-show="$ctrl.project.requires_additional_resources">
                <div layout="column" md-whiteframe="4">
                    <div layout="row">

                        <!--
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Resource</label>
                            <md-select ng-model="$ctrl.selectedResource" ng-model-options="{trackBy: '$value._id'}">
                                <md-option ng-repeat="resource in $ctrl.availableResources" ng-value="{{resource}}">
                                    {{resource.resource_name}} / / {{resource.unit_of_measure}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        -->

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Resource</label>
                            <md-autocomplete
                                    md-no-cache="true"
                                    md-selected-item="$ctrl.selectedResource"
                                    md-search-text="$ctrl.searchResource"
                                    md-items="resource in $ctrl.availableResources | filter: $ctrl.searchResource"
                                    md-item-text="resource.resource_name+' '+resource.unit_of_measure"
                                    md-min-length="0">
                                <md-item-template>
                                    <span md-highlight-text="$ctrl.searchResource" md-highlight-flags="^i">{{resource.resource_name}}    ||    {{resource.unit_of_measure}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </md-input-container>

                        <md-input-container>
                            <label>Unit Rate ($)</label>
                            <input type="number" ng-model="$ctrl.unit_rate">
                        </md-input-container>
                        <md-input-container>
                            <label>Units Consumed</label>
                            <input type="number" ng-model="$ctrl.units_consumed">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Resource Allocation Date</label>
                            <md-datepicker ng-model="$ctrl.resource_allocation_date" md-placeholder="Enter date"></md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Resource Deallocation Date</label>
                            <md-datepicker ng-model="$ctrl.resource_deallocation_date" md-placeholder="Enter date"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Resource Description</label>
                            <input ng-model="$ctrl.resource_description">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Resource Comments</label>
                            <input ng-model="$ctrl.resource_comments">
                        </md-input-container>
                        <md-button class="md-raised md-primary" ng-disabled="!$ctrl.selectedResource || $ctrl.unit_rate == '' || $ctrl.units_consumed == '' || $ctrl.resource_allocation_date == '' || $ctrl.resource_deallocation_date == '' " ng-click="$ctrl.addResourceToProject()" flex="5"><md-icon>add</md-icon></md-button>
                    </div>

                </div>
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <th md-column>Resource</th>
                        <th md-column>Unit Rate ($)</th>
                        <th md-column>Units Consumed</th>
                        <th md-column>Resource Allocation Date</th>
                        <th md-column>Resource Deallocation Date</th>
                        <th md-column>Resource Description</th>
                        <th md-column>Resource Comments</th>
                        <th md-column>Action</th>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="addedResource in $ctrl.project.additional_resources track by $index">
                            <td md-cell><p>{{addedResource.resource.resource_name}}</p></td>
                            <td md-cell><p>{{addedResource.unit_rate}}</p></td>
                            <td md-cell><p>{{addedResource.units_consumed}}</p></td>
                            <td md-cell><p>{{addedResource.resource_allocation_date.format('L')}}</p></td>
                            <td md-cell><p>{{addedResource.resource_deallocation_date.format('L')}}</p></td>
                            <td md-cell><p>{{addedResource.resource_description}}</p></td>
                            <td md-cell><p>{{addedResource.resource_comments}}</p></td>
                            <td md-cell><md-button class="md-raised md-warn" ng-click="$ctrl.removeResourceFromProject($index)"><md-icon>remove</md-icon></md-button></td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

        </md-tab>
        <md-tab label="Invoice Details">
            <div layout="row" layout-fill>
                <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="16" flex="50">
                    <md-content>
                        <md-toolbar class="md-theme-light">
                            <h4 class="md-toolbar-tools">Account Percentage Distribution:</h4>
                        </md-toolbar>
                        <md-list flex >
                            <md-list-item class="md-list-item-inner" ng-repeat="accountEntry in $ctrl.project.invoice_amount_distribution">
                                <div layout="row">
                                    <md-button class="md-raised md-warn" ng-click="$ctrl.removeAccountFromInvoiceAmountDistribution($index)"><md-icon>remove</md-icon></md-button>
                                    <input ng-model="accountEntry.percent_share" type="number" min="0" max="100" step="0.1">
                                    <p>{{accountEntry.client_first_name}} {{accountEntry.client_last_name}} {{accountEntry.client_account_number}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-sidenav>
                <div layout="column" flex="50">
                    <md-toolbar class="md-theme-light">
                        <h4 class="md-toolbar-tools">Available Client Accounts:</h4>
                    </md-toolbar>
                    <md-list flex>
                        <md-list-item style="margin-left: 10px;"ng-repeat-start="client in $ctrl.project.clients">{{client.first_name}} {{client.last_name}}</md-list-item>
                        <md-list-item style="margin-left: 50px;" ng-repeat-end ng-repeat="account in client.account_numbers">
                            <div layout="row"><md-button class="md-raised md-primary" ng-click="$ctrl.addAccountToInvoiceAmountDistribution(client, account)"><md-icon>add</md-icon></md-button> {{account}}</div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-tab>
        <md-tab label="Review and Submit Update" md-on-select="$ctrl.verifyProject($ctrl.project)">
            <div layout="column" ng-show="$ctrl.projectVerified">
                <md-button class="md-primary md-raised" ng-click="$ctrl.updateProject()">Update Project</md-button>
            </div>
        </md-tab>
    </md-tabs>
    <flash-message></flash-message>
</div>