<div layout="column">
    <top-information-bar></top-information-bar>
    <top-navigation-bar></top-navigation-bar>

    <md-divider></md-divider>

    <div layout="row" layout-fill>
        <md-sidenav class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="16">
            <md-content>
                <md-toolbar class="md-theme-light">
                    <h4 class="md-toolbar-tools">Add New:</h4>
                </md-toolbar>
                <md-list flex >
                    <md-list-item class="md-list-item-inner" >
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Scientific Name</label>
                            <input type="text" ng-model="$ctrl.newCrop.scientific_name">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="md-list-item-inner" >
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Common Name</label>
                            <input type="text" ng-model="$ctrl.newCrop.common_name">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="md-list-item-inner" >
                        <md-button class="md-primary" ng-click="$ctrl.addCrop()"> Add New Crop </md-button>
                    </md-list-item>

                </md-list>

                <md-toolbar class="md-theme-light">
                    <h4 class="md-toolbar-tools">Search By:</h4>
                </md-toolbar>
                <md-list flex >
                    <md-list-item class="md-list-item-inner" >
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Scientific Name:</label>
                            <input type="text" />
                        </md-input-container>
                    </md-list-item>
                    <md-list-item class="md-list-item-inner">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Common Name:</label>
                            <input type="text"/>
                        </md-input-container>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <div layout="column" layout-fill>
            <md-table-pagination
                    md-limit="$ctrl.tableQuery.limit"
                    md-page="$ctrl.tableQuery.page"
                    md-total="{{$ctrl.cropList.length}}"
                    md-boundary-links="true"
                    md-page-select="true">
            </md-table-pagination>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="$ctrl.tableQuery.order">
                    <th md-column md-order-by="scientific_name">Scientific Name</th>
                    <th md-column md-order-by="common_name">Common Name</th>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="crop in $ctrl.cropList |
                        orderBy: $ctrl.tableQuery.order |
                        limitTo: $ctrl.tableQuery.limit : ($ctrl.tableQuery.page -1)*$ctrl.tableQuery.limit">
                        <td md-cell><a ng-href="#/crop-update/{{crop.scientific_name}}">{{crop.scientific_name}}</a></td>
                        <td md-cell><a ng-href="#/crop-update/{{crop.scientific_name}}">{{crop.common_name}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
    <flash-message></flash-message>
</div>