<md-toolbar layout="row">
    <div layout-alight="left center">
        <md-button>Project Information</md-button>
    </div>
    <div layout-alight="left center">
        <md-button>Client Information</md-button>
    </div>
    <div layout-alight="left center">
        <md-menu>
            <md-button ng-mouseenter="$mdMenu.open()">Invoicing
            </md-button>
            <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                <md-menu-item>
                    <md-button>Invoice Quarterly</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

    <div layout-align="left center">
        <md-menu>
            <md-button ng-mouseenter="$mdMenu.open()">Space Usage Parameters
            </md-button>
            <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                <md-menu-item>
                    <md-button ng-click="$ctrl.navigateTo('/chamber-list')">Chambers</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.navigateTo('/rate-list')">Rate</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.navigateTo('/department-list')">Department</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>Crop</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>Resources</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

</md-toolbar>